body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222831;
  height: 100vh;
  font-family: cursive;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.container{
  width: 60%;
  margin: 100px auto;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
}
.container input{
  background: transparent;
  border: 0;
  font-size: 30px;
  color: white;
  width: 100%;
}
.suggestions{
  border-top: 2px solid #999;
}
.suggestions > div{
  padding: 15px;
  font-size: 20px;
  color: #fff;
  border-top: 1px solid #666;
  cursor: pointer;
}
.post-wrapper {
  display: inline-block;
  margin: 0;
  padding-left: 30%;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 0;
  height: auto;
}
.suggestions > div:hover{
  background-color: #1e4dd4;

}
.username {
  background: #222831;
  display: block;
  padding: 0;
  height: 50px;
  width: 500px;
  border: 1px solid white;

}

.username i {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.username h1 {
  display: inline-block;
  padding: 0;
  height: 0;
  font-size: 20px;
  color: white;
}

.post-img {
  background: white;
  display: block;
  padding: 0;
  height: auto;
  width: 500px;
}

.post-img img{
  width: 500px;
  z-index: 1000px;
}

.post-bottom {
  background: #222831;
  padding: 0;
  height: 100px;
  width: 500px;
  border: 1px solid white;
}

.pos-bottom .post-text {
  display: inline-block;
}

.post-bottom .likes {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
  width: 20%;
}

.post-bottom .comment {
  display: inline-block;
  padding-top: 10px;
  float: right;
  width: 30%;
}

.post-bottom i{
  padding-left: auto;
  padding-top: 10px;
  padding-bottom: 0;
  color: white;
}

.post-bottom #like {

  padding-right: 10%;
  padding-left: 15%;
}

.post-bottom #comment {
  padding-right: 15%;
  padding-left: 15%;
}

.post-bottom #share {
  padding-right: 8%;
  padding-left: 8%;
}
.wrapper ul{
  color: white;
}
.home{
  color: white;
}
.navbtn{
  color: white;
}
.profile{
  color: white;
}
*{
  font-family: cursive;
  padding: 0;
  margin: 0;
}

.nav-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-container a{
  display: block;
  text-decoration: none;
  background: #fff;
  color: #e74c3c;
  text-transform: uppercase;
  padding: 15px 0 15px 10px;
  margin: 5px 0;
  width: 220px;
  letter-spacing: 1.5px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  margin-left: -160px;
  transition: 0.5s ease;
}
.nav-container a span{
  float: right;
  width: 70px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #3498bd;
  position: absolute;
  right: 0;
  top: 0;
}
.nav-container a span i{
  font-size: 20px;
}
.nav-container a:hover{
  margin:0;
}
input{
  background: #232931;
  border: white 1px solid;
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}
.center ,.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
#click{
  display: none;
}
.click-me{
  display: block;
  width: 160px;
  height: 50px;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
}
.content{
  opacity: 0;
  visibility: hidden;
  width: 400px;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  border: 3px solid gray;
}
#click:checked ~ .content{
  opacity: 1;
  visibility: visible;
}
.header{
  height: 68px;
  background: #252525;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
.header h2{
  color: white;
  padding-left: 32px;
  font-weight: normal;
}
.fa-times{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #e8f7fc;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
p{
  font-size: 19px;
  color: #1a1a1a;
}
em{
  font-size: 20px;
}
